<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          type="text/css" media="screen" />
    <script type="text/javascript"
            src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</head>
<body>


<!--REFRESH LIST AND MAP-->
<script th:inline="javascript">
    // <![CDATA[

    $(document).ready(function()
    {

//        $('#geo_point-create_update-button').click(function (e) {
//            refreshGeoPointsList();
//        });
//
//        $('#geo_point-delete_cancel-button').click(function (e) {
//            refreshGeoPointsList();
//        });

    });
//    geo_point-create_update-button
    //    function retrieveGuests() {
    //        var url = '/secure/geopoint/getlist';
    //
    //        $("#geoPointListBlock").load(url);
    //    }
    // ]]>
</script>

<div class="container-fluid" th:fragment="geopointform">
    <!--STATIC-->
    <!--<form id="geo_point-form" method="post" class="form-registration" role="form">

        <div style="display: none;">
            <input id="input-geo_point-id" type="text" placeholder="Id" class="form-control id" />
            <label class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-descr" type="text"  placeholder="Info" class="form-control descr" />
            <label class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-latitude" type="text" placeholder="Latitude" class="form-control latitude" />
            <label class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-longitude" type="text" placeholder="Longitude" class="form-control longtitude" />
            <label class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-radius" type="number" placeholder="Radius" class="form-control radius" />
            <label class="validation-message"></label>
        </div>

        <div style="display: inline-block;width:100%;">
            &lt;!&ndash;type="submit"&ndash;&gt;
            &lt;!&ndash;onclick="submitGeoPointForm('/secure/geopoint/create','CREATE')"&ndash;&gt;
            &lt;!&ndash;onclick="submitGeoPointForm('/secure/geopoint/remove','DELETE')"&ndash;&gt;
            &lt;!&ndash;disabled&ndash;&gt;
            <button id="geo_point-create_update-button" class="geo_point-button geo_point-create_update-button" type="button">CreateUpdate</button>
            <button id="geo_point-delete_cancel-button" class="geo_point-button geo_point-delete_cancel-button" type="button">CancelDelete</button>
        </div>

        <span th:utext="${successMessage}"></span>
        <span id="responseMessage"></span>
    </form>-->


    <!--//TH-->
    <!--<div th:object="${geoPointShow}">-->
    <!--<td th:text="${geoPointShow?.latitude}">Latitude</td>-->
    <!--<br/>-->
    <!--<td th:text="${geoPointShow?.longtitude}">Longtitude</td>-->
    <!--<br/>-->
    <!--<td th:text="${#numbers.formatInteger(geoPointShow.radius,1)}">Radius</td>-->
    <!--<div>-->
    <!--<td th:text="${geoPointShow.info}">Info</td>-->
    <!--</div>-->
    <!--</div>-->
    <!--<th:block th:if="${message != null}">-->
    <!--th:unless="${geoPoints==null}"-->
    <!--th:action="@{/secure/geopoint/create}"-->
    <form id="geo_point-form" autocomplete="off" th:unless="${geoPoint==null}"
          th:object="${geoPoint}" method="post" class="form-registration" role="form">

<!--
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
-->

        <div style="display: none;">
            <input id="input-geo_point-id" type="text" th:field="*{id}" placeholder="Id" class="form-control id" />
            <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-descr" type="text" th:field="*{descr}" placeholder="Info" class="form-control descr" />
            <label th:if="${#fields.hasErrors('descr')}" th:errors="*{descr}" class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-latitude" type="text" th:field="*{latitude}" placeholder="Latitude" class="form-control latitude" />
            <label th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}" class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-longitude" type="text" th:field="*{longitude}" placeholder="Longitude" class="form-control longtitude" />
            <label th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="validation-message"></label>
        </div>

        <div>
            <input id="input-geo_point-radius" type="number" th:field="*{radius}" placeholder="Radius" class="form-control radius" />
            <label th:if="${#fields.hasErrors('radius')}" th:errors="*{radius}" class="validation-message"></label>
        </div>

        <div style="display: inline-block;width:100%;">
            <!--type="submit"-->
            <!--onclick="submitGeoPointForm('/secure/geopoint/create','CREATE')"-->
            <!--onclick="submitGeoPointForm('/secure/geopoint/remove','DELETE')"-->
            <!--disabled-->
            <button id="geo_point-create_update-button" class="geo_point-button geo_point-create_update-button" type="button">CreateUpdate</button>
            <button id="geo_point-delete_cancel-button" class="geo_point-button geo_point-delete_cancel-button" type="button">CancelDelete</button>
        </div>

        <span th:utext="${successMessage}"></span>
        <span id="responseMessage"></span>
    </form>
    <!--</th:block>-->


<!--
    <script th:inline="javascript">
        // <![CDATA[

        var geoModel = /*[[${geoPoint}]]*/ 'geoPoint';

        /*[[${geoPoint.id}]]*/geoModel.id = id;
        /*[[${geoPoint.latitude}]]*/geoModel.latitude = x;
        /*[[${geoPoint.longitude}]]*/geoModel.longitude = y;
        /*[[${geoPoint.radius}]]*/geoModel.radius = R;
        /*[[${geoPoint.descr}]]*/geoModel.descr = T;

        function setCreateCancelButtons() {
            createUpdateButton.textContent = "Create";
            deleteCancelButton.textContent = "Cancel";

            createUpdateButton.prop("type", "submit");
            deleteCancelButton.prop("type", "button");

            createUpdateButton.off("click").click(function (e) {
                    submitGeoPointForm('/secure/geopoint/create','CREATE');
                    refreshGeoPointsList();
                });
            deleteCancelButton.off("click").click(function (e) {
                e.stopPropagation();
                closeChangingGeoPoint();
            });
        }

        function setUpdateDeleteButtons() {
            createUpdateButton.textContent = "Update";
            deleteCancelButton.textContent = "Delete";

            createUpdateButton.prop("type", "submit");
            deleteCancelButton.prop("type", "submit");

            createUpdateButton.off("click").click(function (e) {
                submitGeoPointForm('/secure/geopoint/update','PATCH');
                refreshGeoPointsList();
            });
            deleteCancelButton.off("click").click(function (e) {
                submitGeoPointForm('/secure/geopoint/remove','DELETE');
                refreshGeoPointsList();
            });
        }

        function submitGeoPointForm(action,type)
        {
//            var url = ''+action;
            var form = $('#geo_point-form');
            form.action = action;
            $(form).attr("method", ""+type);
//            document.getElementById('geo_point-form').submit();

            console.log('ajax submitGeoPointForm()');

            $.ajax({
                url: form.attr('action'),
                type: form.attr('type'),
                data: form.serialize(),
                success: function (response) {
                    // if the response contains any errors, replace the form
                    if ($(response).find('.has-error').length) {
                        $("#responseMessage").html(response);
                    } else {
                        // in this case we can actually replace the form
                        // with the response as well, unless we want to
                        // show the success message a different way
                    }
                },
                error : function(data) {
                    var msg = "Sorry but there was an error: ";
                    alert(msg+data);
                    $("#responseMessage").html(data);
                }

            });

            refreshGeoPointsList();
        }
        $(document).ready(function() {
            $('#input-radius').on('onchange',function (e) {
                alert("onchange");

            });
        });
        // ]]>
    </script>
-->

</div>
<!--</div>-->
</body>
</html>