<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript"
            src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

</head>
<body>
<div th:fragment="wrappermenu">
    <!--RIGHT MENU-->
    <nav id="sidebar-wrapper-right" class="sidebar-wrapper">
        <ul class="sidebar-nav wrapper-right">
            <!--<a id="menu-close-right" class="btn btn-danger pull-right hidden-md hidden-lg toggle menu-close-but"><i class="fa fa-times"></i></a>-->
            <li class="sidebar-brand">
                <a style="cursor: default;">Действия с <strong>Элементом</strong></a>
            </li>
            <!--<li>
                <a href="/profile" title="Go to Top">Profile </a>
            </li>
            <li>
                <a href="/about" title="Go to About Us section">About</a>
            </li>
            <li>
                <a href="/resume" title="Navigate to Jonathan Adcox IT Resume">Resume</a>
            </li>
            <li>
                <a href="/portfolio" title="Navigate to 'Our Services' section">Portfolio</a>
            </li>
            &lt;!&ndash; Future Development
            <li>
                <a href="#portfolio">Portfolio</a>
            </li> &ndash;&gt;

            <li>
                <a data-toggle="modal" data-href="#loginModal" data-target="#loginModal" style="cursor:pointer;"> Hosting</a>
            </li>-->
            <li>
                <a class="changeGeoPointsButton" style="cursor: pointer;" title="Create or Change GeoPoint">Место</a>
                <!--<div layout:include="fragments/geopointform"> </div>-->
                <div id="add-geo_point-form" style="display: none;">
                    <div th:replace="fragments/geopointform"> </div>
                </div>
            </li>
            <li>
                <a class="changeTasksButton" style="cursor: pointer;" title="Our Blog">Задание</a>
                <div id="change-task-form" style="display: none;">
                    <div style="display: none;">
                        <input id="input-task-id" type="text" placeholder="Id" class="form-control id" />
                        <label class="validation-message"></label>
                    </div>
                    <div id="input-task-name" style="width: 100%; text-align: center; color: #ffffff;"></div>
                    <!--<form id="change-task-form-data" th:action="@{/secure/task/form/withSimpleGeo}" autocomplete="off" method="post" class="form-registration" role="form">

                        <div style="display: none;">
                            <input id="input-task-latitude" type="text" placeholder="Latitude" class="form-control latitude" />
                            <label class="validation-message"></label>
                        </div>
                        <div style="display: none;">
                            <input id="input-task-longitude" type="text" placeholder="Longitude" class="form-control longitude" />
                            <label class="validation-message"></label>
                        </div>
                        <div style="display: none;">
                            <input id="input-task-radius" type="text" placeholder="Radius" class="form-control radius" />
                            <label class="validation-message"></label>
                        </div>


                        &lt;!&ndash;<button id="task-create_view-button" class="geo_point-button geo_point-create_update-button" type="submit">Добавить</button>&ndash;&gt;

                        <button id="task-create-button" class="geo_point-button geo_point-create_update-button" type="submit">Добавить</button>

                        &lt;!&ndash;<button id="task-cancel-button" class="geo_point-button geo_point-delete_cancel-button" type="button">Отменить</button>&ndash;&gt;
                    </form>

                    <button id="task-view-button" class="geo_point-button geo_point-create_update-button" type="submit" style="display: none;">Обновить</button>
                    <button id="task-cancel-button" class="geo_point-button geo_point-delete_cancel-button" type="button">Отменить</button>
-->
                    <button id="task-create_view-button" class="geo_point-button geo_point-create_update-button btn btn-dark btn-md" style="color: #ffffff;" type="submit">Добавить</button>

                    <button id="task-cancel-button" class="geo_point-button geo_point-delete_cancel-button btn btn-dark btn-md" style="color: #ffffff;" type="button">Отменить</button>

                </div>
            </li>
        </ul>
    </nav>

    <!--VERTICAL RIGHT MENU FOR SIDEBAR-->
    <aside id="accordion-right" class="social text-vertical-center" style="display: none;">
        <div class="accordion-social">
            <ul class="panel-collapse collapse in nav nav-stacked" role="tabpanel" aria-labelledby="social-collapse" id="collapseOne">
                <li><a class="changeGeoPointsButton vert-list-but-right" style="cursor: pointer;"><i class="fa fa-lg fa-map-marker" target="_blank"></i></a></li>
                <li><a class="changeTasksButton vert-list-but-right" style="cursor: pointer;" target="_blank"><i class="fa fa-lg fa-stack-exchange"></i></a></li>
            </ul>
        </div>
    </aside>

    <!--LEFT MENU-->
    <nav id="sidebar-wrapper-left" class="sidebar-wrapper">
        <ul class="sidebar-nav wrapper-left">
            <!--<a id="menu-close-left" class="btn btn-danger pull-right hidden-md hidden-lg toggle menu-close-but"><i class="fa fa-times"></i></a>-->
            <li class="sidebar-brand">
                <a style="cursor: default;" >Ваши <strong>Элементы</strong></a>
            </li>
            <li>
                <a class="getGeoPointsButton" style="cursor: pointer;" title="List of GeoPoints">Мои места</a>
                <!--<div th:replace="fragments/geopointlist :: geopointlist"> </div>-->
                <!--<button id="getGeoPointsButton" name="getGeoPointsButton" th:onclick="'javascript:retrieveGeoPoints()'" type="button">List of GeoPoints</button>-->
                <!-- Results block -->
                <div style="display: none;" id="geoPointListBlock">

                </div>

            </li>
            <li>
                <a class="getTasksListButton" style="cursor: pointer;" title="List of Tasks">Задания</a>

                <div style="display: none;" id="tasksBlock">
                    <div style="padding: 0 5%;">
                        <!--type="button"-->
                        <!--<button id="getTasksOwnerButton" class="btn btn-primary btn-md">Мои</button>-->
                        <!--<button id="getTasksLocalButton" class="btn btn-primary btn-md">Подходящие</button>-->
                        <!--<button id="getTasksSubscribedButton" class="btn btn-primary btn-md">Отслеживаемые</button>-->
                        <!--<button id="getTasksRecentButton" class="btn btn-primary btn-md">Последние</button>-->
                        <!--<button id="getTasksChartButton" class="btn btn-primary btn-md">Chart</button>-->

                        <!-- List group -->
                        <ul class="list-group">
                            <!--<li class="list-group-item">

                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
                                    <label for="someSwitchOptionSuccess" class="label-success"></label>
                                    label-default3
                                </div>
                            </li>-->
                            <li class="list-group-item">
                                Мои
                                <div class="material-switch pull-right">
                                    <input id="switchTasksOwner" name="switchTasksOwner" type="checkbox" value="TasksOwner" class="check-box-task-lists"/>
                                    <label for="switchTasksOwner" style="background: #f1c40f;" class="label-warning"></label>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Подходящие
                                <div class="material-switch pull-right">
                                    <input id="switchTasksLocal" name="switchTasksLocal" type="checkbox" value="TasksLocal" class="check-box-task-lists"/>
                                    <label for="switchTasksLocal" class="label-danger"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Отслеживаемые
                                <div class="material-switch pull-right">
                                    <input id="switchTasksSubscribed" name="switchTasksSubscribed" type="checkbox" value="TasksSubscribed" class="check-box-task-lists"/>
                                    <label for="switchTasksSubscribed" class="label-primary"></label>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Последние
                                <div class="material-switch pull-right">
                                    <input id="switchTasksRecent" name="switchTasksRecent" type="checkbox" value="TasksRecent" class="check-box-task-lists"/>
                                    <label for="switchTasksRecent" class="label-info"></label>
                                </div>
                            </li>

                            <li class="list-group-item">
                                Chart
                                <div class="material-switch pull-right">
                                    <input id="switchTasksChart" name="switchTasksChart" type="checkbox" value="TasksChart" class="check-box-task-lists"/>
                                    <label for="switchTasksChart" class="label-warning"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="tasksListBlock">

                    </div>
                </div>
            </li>

            <!-- <li>
                 <a href="/resume" title="Navigate to Jonathan Adcox IT Resume">Resume</a>

             </li>-->
            <!--<li>
            <a href="/portfolio" title="Navigate to 'Our Services' section">Portfolio</a>
            </li>
            &lt;!&ndash; Future Development
            <li>
            <a href="#portfolio">Portfolio</a>
            </li> &ndash;&gt;
            <li>
            <a href="/blog" title="Our Blog">Blog</a>
            </li>
            <li>
            <a data-toggle="modal" data-href="#loginModal" data-target="#loginModal" style="cursor:pointer;"> Hosting</a>
            </li>-->
            <!--<li>-->
                <!--<a title="List of Routes">List of Routes</a>-->
            <!--</li>-->
        </ul>
    </nav>

    <!--VERTICAL LEFT MENU FOR SIDEBAR-->
    <aside id="accordion-left" class="social text-vertical-center"  style="display: none;">
        <div class="accordion-social">
            <ul class="panel-collapse collapse in nav nav-stacked" role="tabpanel" aria-labelledby="social-collapse" id="collapseTwo">
                <li><a target="_blank" class="getGeoPointsButton vert-list-but-left" style="cursor: pointer;"><i class="fa fa-lg fa-tags"></i></a></li>
                <li><a target="_blank" class="getTasksListButton vert-list-but-left" style="cursor: pointer;"><i class="fa fa-lg fa-tasks"></i></a></li>

                <!--<li><a href="https://www.facebook.com/soldierupdesigns" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>-->
                <!--<li><a href="https://twitter.com/soldierupdesign" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>-->
                <!--<li><a href="https://www.plus.google.com/+soldierupdesigns" target="_blank"><i class="fa fa-lg fa-google-plus"></i></a></li>-->
                <!--<li><a href="https://github.com/blayderunner123" target="_blank"><i class="fa fa-lg fa-github"></i></a></li>-->
                <!--<li><a href="https://linkedin.com/in/blayderunner123" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>-->
                <!--<li><a href="skype:live:soldierupdesigns?call"><i class="fa fa-lg fa-skype" target="_blank"></i></a></li>-->
                <!--<li><a href="http://stackexchange.com/users/4992378/blayderunner123" target="_blank"><i class="fa fa-lg fa-stack-exchange"></i></a></li>-->
            </ul>
        </div>
    </aside>

    <!--SIDES MENU EVENTS-->
    <script th:inline="javascript">
        // <![CDATA[
        $(document).ready(function()
        {
//            $('#wrapper-menus-but-block').show('slow');
//            $('#accordion-left').show('slow');
//            $('#accordion-right').show('slow');
            $('#wrapper-menus-but-block').fadeIn('slow');
            $('#accordion-left').fadeIn('slow');
            $('#accordion-right').fadeIn('slow');

            $('.vert-list-but-right').on('click',function (e) {
                $("#sidebar-wrapper-right").toggleClass("active", true);
            });
            $('.vert-list-but-left').on('click',function (e) {
                $("#sidebar-wrapper-left").toggleClass("active", true);
            });


            // Closes the sidebar menu on menu-close button click event
            $(".menu-close-but").click(function(e)							//declare the element event ...'(e)' = event (shorthand)
            {
                // - will not work otherwise")
                $(".sidebar-wrapper").toggleClass("active");			//instead on click event toggle active CSS element
                e.preventDefault(); 									//prevent the default action ("Do not remove as the code

                /*!
                 ======================= Notes ===============================
                 * see: .sidebar-wrapper.active in: style.css
                 ==================== END Notes ==============================
                 */
            });															//Close 'function()'

    //        // Open the Sidebar-wrapper on Hover
    //        $(".menu-toggle").hover(function(e)							//declare the element event ...'(e)' = event (shorthand)
    //        {
    //            if($(this)[0].id==="left-menu-toggle"){
    //                $("#sidebar-wrapper-left").toggleClass("active",true);		//instead on click event toggle active CSS element
    //            }
    //            else if($(this)[0].id==="right-menu-toggle") {
    //                $("#sidebar-wrapper-right").toggleClass("active",true);
    //            }
    //            e.preventDefault();										//prevent the default action ("Do not remove as the code
    //        });
    //
    //        $(".menu-toggle").bind('click',function(e)					//declare the element event ...'(e)' = event (shorthand)
    //        {
    //            $(".sidebar-wrapper").toggleClass("active",true);		//instead on click event toggle active CSS element
    //            e.preventDefault();										//prevent the default action ("Do not remove as the code
    //        });
    //
    //        $('.sidebar-wrapper').mouseleave(function(e)				//declare the jQuery: mouseleave() event
    //            // - see: ('//api.jquery.com/mouseleave/' for details)
    //        {
    //            /*! .toggleClass( className, state ) */
    //            $(this).toggleClass('active',false);		/* toggleClass: Add or remove one or more classes from each element
    //         in the set of matched elements, depending on either the class's
    //         presence or the value of the state argument */
    //            e.stopPropagation();									//Prevents the event from bubbling up the DOM tree
    //            // - see: ('//api.jquery.com/event.stopPropagation/' for details)
    //
    //            e.preventDefault();										// Prevent the default action of the event will not be triggered
    //            // - see: ('//api.jquery.com/event.preventDefault/' for details)
    //        });

            // Open the Sidebar-wrapper on Hover
            $(".menu-toggle").on("click", function(e)							//declare the element event ...'(e)' = event (shorthand)
            {
                if($(this)[0].id==="left-menu-toggle"){
                    $("#sidebar-wrapper-left").toggleClass("active");		//instead on click event toggle active CSS element
                }
                else if($(this)[0].id==="right-menu-toggle") {
                    $("#sidebar-wrapper-right").toggleClass("active");
                }
                e.preventDefault();										//prevent the default action ("Do not remove as the code
            });
            //Close 'function()'

            // Closes the sidebar menu on menu-close button click event
            $(".menu-close-but").click(function(e)							//declare the element event ...'(e)' = event (shorthand)
            {
                // - will not work otherwise")
                $(".sidebar-wrapper").toggleClass("active");			//instead on click event toggle active CSS element
                e.preventDefault(); 									//prevent the default action ("Do not remove as the code

                /*!
                 ======================= Notes ===============================
                 * see: .sidebar-wrapper.active in: style.css
                 ==================== END Notes ==============================
                 */
            });
        });
                                                                //Close 'function()'
        // ]]>
    </script>

</div>
</body>
</html>