body
{
    font-family: "Century Gothic", serif;
    margin: 0;
}

.custom_button
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.custom_button:hover
{
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 14px 42px 0 rgba(0,0,0,0.19);
}

.custom_button.disabled
{
    opacity: 0.6;
    cursor: not-allowed;
}

ul.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #555555;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.navbar li a
{
    display: block;
    color: aliceblue;
    padding: 8px 16px;
    text-decoration: none;
}

ul.navbar li a.active
{
    background-color: #4CAF50;
    color: white;
}

ul.navbar li a:hover:not(.active)
{
    background-color: black;
    color: white;
}

div.base-content
{
    align-content: center;
    margin-left: 25%;
    padding: 1px 16px;
}

@media screen and (min-width: 600px)
{
    ul.navbar
    {
        width: 100%;
        height:auto;
        position:relative;
    }

    ul.navbar li a
    {
        float: left;
        padding: 15px;
    }

    div.base-content { margin-left:0; }
}

@media screen and (max-height: 200px)
{
    ul.navbar li a
    {
        text-align: center;
        float: none;
    }
}

h2
{
    color: red;
}
