<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Feed</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>

    <div>
        <h1>Feed</h1>
    </div>

    <br/>

    <div>
        <form th:action="@{/secure/feed}" method="post">
            <input type="text" name="search" placeholder="Theme Query"/>
            <button name="Submit" value="search" type="Submit" th:text="Search"></button>
        </form>

        <a href="/secure/tasks/create" th:href="@{/secure/tasks/create}">Create Task</a>
    </div>

    <br/>
    <span th:utext="${emptyMessage}"></span>
    <br/>

    <div th:unless="${#lists.isEmpty(tasks)}">
        <tr th:each="task : ${tasks}">
            <td th:text="${task.theme}" />
            <td th:text="${task.theme}" />
            <td th:text="${task.createDate}" />

            <td>
                <a th:href="@{/secure/tasks?id=task.id}"></a>
            </td>

            <td>
                <form th:action="@{/secure/tasks}" th:method="DELETE">
                    <input type="hidden" name="_method" value="delete"/>
                    <button name="Submit" value="Delete" type="Submit" th:text="Delete"></button>
                </form>
            </td>
        </tr>
    </div>
</div>
</body>
</html>