<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Feed</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>

    <div>
        <h1>Feed</h1>
    </div>

    <div class="row" style="margin: 5px">
        <div class="row-fluid">
            <form th:action="@{/secure/feed/search}" method="post">
                <input type="text" name="search" placeholder="Theme Query"/>
                <button name="Submit" value="search" type="Submit" th:text="Search"></button>
            </form>
        </div>

        <div class="row-fluid" style="margin: 5px">
            <div class="col-md-1" style="margin: 5px; padding-left: 5px; padding-right: 5px">
                <form th:action="@{/secure/feed/filter}" method="post"
                      style="margin: 5px; padding-left: 5px; padding-right: 5px">
                    <input type="hidden" th:value="0" name="filter"/>
                    <button name="filter" th:value="0" type="Submit" th:text="All"></button>
                </form>
            </div>
            <div class="col-md-1" style="margin: 5px; padding-left: 5px; padding-right: 5px">
                <form th:action="@{/secure/feed/filter}" method="post"
                      style="margin: 5px; padding-left: 5px; padding-right: 5px">
                    <input type="hidden" th:value="40" name="filter"/>
                    <button name="filter" th:value="40" type="Submit" th:text="Hot"></button>
                </form>
            </div>
            <div class="col-md-1" style="margin: 5px; padding-left: 5px; padding-right: 5px">
                <form th:action="@{/secure/feed/filter}" method="post"
                      style="margin: 5px; padding-left: 5px; padding-right: 5px">
                    <input type="hidden" th:value="30" name="filter"/>
                    <button name="filter" th:value="30" type="Submit" th:text="Local"></button>
                </form>
            </div>
            <div class="col-md-1" style="margin: 5px; padding-left: 5px; padding-right: 5px">
                <form th:action="@{/secure/feed/filter}" method="post"
                      style="margin: 5px; padding-left: 5px; padding-right: 5px">
                    <input type="hidden" th:value="20" name="filter"/>
                    <button name="filter" th:value="20" type="Submit" th:text="New"></button>
                </form>
            </div>
            <div class="col-md-1" style="margin: 5px; padding-left: 5px; padding-right: 5px">
                <form th:action="@{/secure/feed/filter}" method="post"
                      style="margin: 5px; padding-left: 5px; padding-right: 5px">
                    <input type="hidden" th:value="10" name="filter"/>
                    <button name="filter" th:value="10" type="Submit" th:text="My"></button>
                </form>
            </div>
        </div>

        <div class="row-fluid" style="margin: 5px">
            <a th:href="@{/secure/task/form}">Create Task</a>
        </div>
    </div>

    <br/>

    <div>
        <span th:utext="#{msg}"></span>
    </div>

    <div th:unless="${#lists.isEmpty(tasks)}">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Posted</td>
                <td>Theme</td>
                <td>Description</td>
                <td>Notifies</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.createDate}"></td>
                    <td>
                        <form th:action="@{/secure/task}" method="GET">
                            <button name="id" th:value="${task.id}" type="Submit" th:text="${task.theme}"></button>
                        </form>
                    </td>
                    <td th:text="${task.descr}"></td>
                    <td th:text="${task?.modifyCount}"> </td>
                    <td>
                        <form th:action="@{/secure/task/form}" method="GET">
                            <button name="id" th:value="${task.id}" type="Submit" th:text="Update"></button>
                        </form>
                    </td>

                    <td>
                        <form th:action="@{/secure/task}" th:method="DELETE">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button name="id" th:value="${task.id}" type="Submit" th:text="Delete"></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>