<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Feed</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>

    <div>
        <h1>Feed</h1>
    </div>

    <br/>

    <div>
        <form th:action="@{/secure/feed}" method="post">
            <input type="text" name="search" placeholder="Theme Query"/>
            <button name="Submit" value="search" type="Submit" th:text="Search"></button>
        </form>

        <a href="/secure/tasks/create" th:href="@{/secure/task/create}">Create Task</a>
    </div>

    <br/>
    <span th:utext="${emptyMessage}"></span>

    <div th:unless="${#lists.isEmpty(tasks)}">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td></td>
                <td>Title</td>
                <td>Text</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.createDate}">Posted on: </td>
                    <td th:text="${task.theme}">Theme: </td>
                    <td th:text="${task.descr}">Description</td>
                    <td>
                        <form th:action="@{/secure/task/create}" method="GET">
                            <button name="id" th:value="${task.id}" type="Submit" th:text="Update"></button>
                        </form>
                    </td>

                    <td>
                        <form th:action="@{/secure/task}" th:method="DELETE">
                            <input type="hidden" name="_method" value="delete"/>
                            <button name="Submit" value="Delete" type="Submit" th:text="Delete"></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--<div th:each="task : ${tasks}">-->
            <!--<div>-->
                <!--<span th:text="${task.createDate}">Posted on: </span>-->
                <!--<span th:text="${task.theme}">Theme: </span>-->
            <!--</div>-->

            <!--<div>-->
                <!--<span th:text="${task.descr}">Description</span>-->
            <!--</div>-->

            <!--<div>-->
                <!--<div>-->
                    <!--<form th:action="@{/secure/tasks?id=task.id}" method="GET">-->
                        <!--<button name="Submit" value="Delete" type="Submit" th:text="Update"></button>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<form th:action="@{/secure/tasks}" th:method="DELETE">-->
                        <!--<input type="hidden" name="_method" value="delete"/>-->
                        <!--<button name="Submit" value="Delete" type="Submit" th:text="Delete"></button>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
</body>
</html>