<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Login</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div>
        <form th:action="@{/registration}" method="get">
            <button type="Submit">Sign In</button>
        </form>
    </div>

    <br/>

    <div class="container">

        <span th:utext="${?logout}" style="margin: 5px"></span>

        <form th:action="@{/login}" method="POST" class="form-login">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="text" id="email" name="email" th:placeholder="Email" class="form-control"/>
            <input type="password" id="password" name="password" th:placeholder="Password" class="form-control"/>

            <div align="center" th:if="${?param.error}">
                <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
            </div>

            <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
        </form>
    </div>

</div>
</body>
</html>