<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Register</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>

    <form th:action="@{/login}" method="get">
        <button type="Submit">Go To Login Page</button>
    </form>

    <div class="container">
        <div>
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-login" role="form">

                <h2>Registration Form</h2>

                <div>
                    <input type="text" th:field="*{name}" placeholder="Name" class="form-control" />
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                </div>

                <div>
                    <input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                </div>

                <div>
                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                </div>

                <div>
                    <button type="submit" >Register User</button>
                </div>

                <span th:utext="${successMessage}"></span>

            </form>
        </div>
    </div>
</div>
</body>
</html>