<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Task Info</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>
    <br/>

    <h2>User Info</h2>
    <br/>

    <div th:object="${user}">
        <td th:text="${user?.name}">User</td>
        <br/>
        <td th:text="${user?.email}">Contact</td>
    </div>

    <br/>

    <h2>Task Info</h2>
    <br/>

    <div th:object="${task}">
        <td th:text="${task?.createDate}">Created</td>
        <br/>
        <td th:text="${task?.type.toString()}" />
        <br/>
        <div>
            <td th:text="${task.theme}">Theme</td>
        </div>
        <div>
            <td th:text="${task.descr}">Description</td>
        </div>
    </div>
</div>
</body>
</html>