<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Task</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>
    <br/>

    <div class="container">
        <div th:object="${task}">
            <div>
                <span th:text="${task?.createDate}">Created</span>
            </div>
            <div>
                <span th:text="${task?.lastModifyDate}">Modified</span>
            </div>
        </div>

        <div>
            <form autocomplete="off" th:action="@{/secure/task/create}"
                  th:object="${task}" method="post" class="form-registration" role="form">

                <div>
                    <input type="text" th:field="*{theme}" placeholder="Theme" class="form-control" />
                    <label th:if="${#fields.hasErrors('theme')}" th:errors="*{theme}" class="validation-message"></label>
                </div>

                <div>
                    <input type="text" th:field="*{descr}" placeholder="Description" class="form-control" />
                    <label th:if="${#fields.hasErrors('descr')}" th:errors="*{descr}" class="validation-message"></label>
                </div>

                <div>
                    <!--<input type="checkbox" th:field="*{isNotified}" placeholder="Is Notified" class="form-control" />-->
                    <!--<select th:field="*{type}">
                        <option th:each="type : ${allTypes}"
                                th:value="${type}"
                                th:text="#{${'type.' + type}}">Type</option>
                    </select>-->
                </div>

                <div>
                    <button type="submit">Update</button>
                </div>

                <span th:utext="${successMessage}"></span>

            </form>
        </div>
    </div>
</div>
</body>
</html>