<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Task Info</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/> <br/> <br/>

    <h2>Task Info</h2>

    <span th:utext="${?msg}" style="margin: 5px"></span>

    <div class="row" th:object="${task}">
        <div class="row-fluid" th:object="${user}" style="margin: 5px">
            <h2>User</h2>
            <span th:text="${user?.name}" style="margin: 5px">Name: </span>
            <span th:text="${user?.email}" style="margin: 5px">Email: </span>
        </div>

        <br/> <br/>

        <div class="row-fluid" style="margin: 5px">
            <h2>Task</h2>
            <span th:text="${task.theme}"></span>
            <div style="margin: 5px">>
                <span th:text="${task?.createDate}">Created: </span>
                <span th:text="${task?.type.toString()}">Type: </span>
            </div>
        </div>

        <br/>

        <div class="row-fluid">
            <span th:text="${task.descr}">Description: </span>
        </div>
    </div>
</div>
</body>
</html>