<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Welcome</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <style th:inline="text">
        body {
            font-family: 'Roboto', sans-serif;

            background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 90%), url("http://shoorick.ru/slide/uwdc/pic/cm-mc-style.png");
        }

        img {
            opacity: 0.5;
        }
    </style>
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header"> </div>

    <br/>
    <br/>

    <div class="hero-unit">
        <h1>Welcome</h1>
        <p>
            Welcome to the Spring MVC Quickstart application!
            Get started quickly by signing up.
        </p>
    </div>

    <div th:replace="fragments/footer :: footer">&copy; 2017 The Static Templates</div>
</div>
</body>
</html>